.App {
  text-align: center;
}

#container {
  margin-top: 170px;
}

h1 {
  font-size: 32px;
  color: #0a11a5;
  margin: auto;
  text-align: center;
  border: 0px solid red;
}

#numbers {
  border: 0px solid red;
  margin-top: 200px;
  width: 30px;
  margin: 200px auto;
}

.box {
  position: absolute;
  border: 0px solid #000;
  display: inline-block;
  width: 30px;
  top: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  transform-origin: bottom;
}


canvas {
    display: block;
}
$color1: black;
$color2: rgb(214, 214, 214);
$accent-color: rgb(225, 30, 90);

.logo {
  height: 15vmin;
  pointer-events: none;
}

.mono {
  font-family: monospace, monospace;
}

.bold {
  font-weight: bold;
}

header {
  margin-top: 10vmin;
}

header,
h1,
h2,
h3 {
  text-align: center;
}

.content {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.p {
  width: 550px;
}

.btn-clipboard {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:focus {
    outline: none;
  }
}

.btn {
  height: 26px;
  border: 1px solid;
  border-color: black;
  color: white;

  background-color: black;

  margin: 5px;

  font-size: 16px;

  color: $color1;

  &::placeholder {
    color: $color2;
  }

  &:hover,
  &:focus {
    outline: 1px solid white;
    border-color: $accent-color;
    color: $accent-color;
  }
}

.btn-hello {
  width: 200px;
  display: inline;
  float: right;
}

table {
  text-align: right;
}

.label {
  width: 120px;
  display: inline-block;
}

.input {
  width: 500px;
  height: 26px;
  box-sizing: border-box;

  margin: 5px;
  border: 1px solid;
  border-color: $color2;

  color: $color1;

  &::placeholder {
    color: $color2;
  }

  &:hover,
  &:focus {
    outline: 1px solid white;
    border-color: $accent-color;
  }
}

.gg-clipboard {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-radius: 2px;
}
.gg-clipboard::after,
.gg-clipboard::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 2px;
  width: 10px;
  left: 2px;
}
.gg-clipboard::before {
  border: 2px solid;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  top: -2px;
  height: 6px;
}
.gg-clipboard::after {
  height: 2px;
  background: currentColor;
  box-shadow: 0 -4px 0 0;
  bottom: 2px;
}

body,
.container,
canvas {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
#hack{
  animation: App-logo-spin infinite 7s linear;
}
p{
  cursor: pointer;
  text-align: center;
  z-index: 100;
}

.airplane {
    animation: takeoff linear 7s forwards;
}

@keyframes takeoff {
    0% {
        transform: translate(0,0) rotate(0);
    }
    5% {
        transform: translate(0,0) rotate(0) scale(.9);
    }
    10% {
        transform: translate(0,0) rotate(0) scale(.9);
    }
    20% {
        transform:translate(0,0) rotate(0) scale(0.85);
    }
    30% {
       transform:translate(0,0) rotate(0) scale(0.80);
    }
    40% {
        transform:translate(0,0) rotate(0) scale(0.75);
    }
    50% {
        transform:translate(0,0) rotate(5deg) scale(0.5);
    }
    60% {
        transform:translate(0,0) rotate(5deg) scale(0.45);
    }
    70% {
        transform: translate(150px, -200px) rotate(10deg) scale(.4);
    }
    80% {
        transform:translate(200px,-300px) rotate(20deg) scale(0.35);
    }
    90% {
        transform:translate(250px,-400px) rotate(30deg) scale(0.3);
    }
    100% {
        transform:translate(300px,-500px) rotate(30deg) scale(0.3);
    }
}


.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-1.css-u78q51-MuiGrid-root{
  padding-top: 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.circle{
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.xor {
  margin-top: 29px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*MuiSlider-rail css-14pt78w-MuiSlider-rail*/
span.MuiSlider-rail.css-14pt78w-MuiSlider-rail {
  background-image: linear-gradient(to right, #FE6663,#FFAF4D,#FCF89B,#A1DFA1,#9DC0CD, #CA9BC7);
  height: 30px;
  width: 80%;
  margin: 14px;
  margin-left: 30px;
}

/*MuiSlider-thumbColorPrimary MuiSlider-thumbSizeMedium MuiSlider-thumb css-7drnjp*/
span.MuiSlider-thumbColorPrimary.MuiSlider-thumbSizeMedium.MuiSlider-thumb.css-eg0mwd-MuiSlider-thumb {
  background: transparent;
}